*{
    margin: 0;
    box-sizing: border-box;
}


.users-box{
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}


.user-box{
    border: 2px black solid;
    margin: 5px;
    width: 45%;
}